@charset "UTF-8";
body{
    background-image: linear-gradient(to right, rgb(253, 199, 117), rgba(219, 115, 30, 0.884));
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    width: 700px;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
}
h1{
    color: rgb(236, 144, 4);
}
h1#principal{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 144, 4);
}
h2{
    color: rgb(85, 34, 4);
}
p{
    text-align: justify;
    text-indent: 20px;
    font-size: 1.5em;
}
.basico{
 color: rgb(7, 209, 57);
}
.intermediario{
    color: rgb(255, 238, 0);
}
.avancado{
color: rgb(255, 0, 0);
}
.destaque{
    background-color: rgb(255, 0, 157);
}