@charset "UTF-8";

body{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
color: rgb(0, 0, 0);
background-color: rgb(255, 251, 0);
}
h2{
    color: darkorchid;
}
p{
    text-align: justify;
color: rgb(0, 0, 0);
}
