@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}
body{
background-image: linear-gradient(to right, #F3FEB0, #FEA443);
}
main{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px, 5px, 15px, rgba(72, 45, 83, 0.705);
    width: 700px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #812F33;
    text-align: center;
    text-shadow: 1px, 1px, 2px, rgba(181, 6, 212, 0.637) ;
}
h2{
    color: #705E78;
}
p{
    text-align: justify;
}